# ======================
# GCP Configuration
# ======================
GCP_PROJECT_ID=topik-automation-501015
GCP_PROJECT_NUMBER=210786918512
GCP_REGION=asia-southeast1

# ======================
# Database
# ======================
DB_PASSWORD=<YOUR_SECURE_PASSWORD>

# ======================
# Application
# ======================
JWT_SECRET=<YOUR_JWT_SECRET_64_CHARS>
